  <div class="container">
    
  <header class="header">
    <div class="row">
      <div class="col-sm-3">
        
      <img src="../css/logo.jpg" class="logo">
      </div>
      <div class="col-sm-5">
        
      <div class="name_page">
        <p>Basket Market</p>
      </div>
      </div>
      <div class="col-sm-4">
        
      <div class="buttons_header pull-right">
        <div class="button_login"><button class="btn btn-primary" href="#" type="submit">Log in</button></div>
        <div class="button_login"><button class="btn btn-primary" href="#" type="submit">Sign in</button></div>
      </div>
      </div>
    </div>
  </header>
  </div>